.jumbotron {
  background-image:url('http://i54.tinypic.com/2uig41u.jpg');
  height:900px;
  
  }

.jumbotrton nav ul, li {
  display:inline;
  font-weight:bold;
  color:white;
}

.jumbotron .container h1, p1 {
  color:white;
  font-weight:bold;
  margin-left:500px;
  margin-right:200px;
}
