.jumbotron {
  background-image:url('http://i54.tinypic.com/2uig41u.jpg');
  height:900px;
  
  }

.jumbotrton .nav ul, li {
  display:inline;
  font-weight:bold;
  color:white;
}


.jumbotron .container p1 {
  color:white;
  font-weight:bold;
  margin:auto;
  text-align:center;
  
}

.jumbotron .container {
  position:relative;
  padding:70px;
}


.jumbotron h1 {
  font-size:100px;
  font-family: 'Shift', sans-serif;
  text-align:center;
}

.a:link {
  color:white;
  font-weight:bold;
}

.a:visited {
  color:white;
  font-weight:bold;
}

.a:hover {
  color:yellow;
  font-weight:bold;
}
