.jumbotron a {
  color:white;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.jumbotron li {
  display: inline;
  color:white;
  font-family: 'Shift', sans-serif;
}



.jumbotron {
  background-image:url('http://i54.tinypic.com/2uig41u.jpg');
  height:900px;
}

.jumbotrton .nav ul, li {
  display:inline;
  font-weight:bold;
  color:white;
}

p {
 text-align: center;
line-height: 100px;

}

.jumbotron .container {
  position:relative;
  padding:5px;
}


.jumbotron h1 {
  font-size:100px;
  font-family: 'Shift', sans-serif;
  text-align:center;
  color:white;
}


